<!DOCTYPE html>
<html ng-app="GarageApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/garage")
    <script type="text/javascript">
        var appInsights = window.appInsights || function (config) {
            function s(config) { t[config] = function () { var i = arguments; t.queue.push(function () { t[config].apply(t, i) }) } } var t = { config: config }, r = document, f = window, e = "script", o = r.createElement(e), i, u; for (o.src = config.url || "//az416426.vo.msecnd.net/scripts/a/ai.0.js", r.getElementsByTagName(e)[0].parentNode.appendChild(o), t.cookie = r.cookie, t.queue = [], i = ["Event", "Exception", "Metric", "PageView", "Trace"]; i.length;) s("track" + i.pop()); return config.disableExceptionTracking || (i = "onerror", s("_" + i), u = f[i], f[i] = function (config, r, f, e, o) { var s = u && u(config, r, f, e, o); return s !== !0 && t["_" + i](config, r, f, e, o), s }), t
        }({
            instrumentationKey: "ab654f1a-fb77-4528-9ee4-b5a90947f1ae"
        });

        window.appInsights = appInsights;
        appInsights.trackPageView();
    </script>
</head>
<body ng-controller="AppController">
    <div id="navbar">
        <ul class="bar">
            <li>
                <button class="btn btn-primary" onclick="history.go(-1)" ng-disabled="isReversible()"><i class="glyphicon glyphicon-chevron-left"></i> Backa</button>
            </li>
            <li ng-if="user">
                <div class="btn-group dropup" dropdown>
                    <button type="button" class="btn btn-primary">{{user}}</button>
                    <button type="button" class="btn btn-primary dropup-toggle" dropdown-toggle>
                        <span class="caret"></span>
                        <span class="sr-only">Split button!</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#/CreateUnit">Profil</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Manuell parkering</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
    <div class="container box" ng-view>
    </div>
    @RenderBody()
    <div class="footer">
        <p>G. Hedman, J. Takter, N. Frank</p>
        <p>© Stretch Garage</p>
    </div>
    <div>{{Count}}</div>
    <div>{{Time}}</div>
    <div>{{Position}}</div>
    <div>{{lat}}</div>
    <div>{{lng}}</div>
    <div>{{spd}}</div>
    <div>{{Info}}</div>
    @RenderSection("scripts", required: false)
</body>
</html>